@import "../../scss/variables.scss";

.primary__btn {
  background-color: $color--one;
  border: none;
  border-radius: 5rem;
  color: white;
  font-size: 0.85rem;
  width: 100%;
  padding: 0.8rem;
  outline: none;
}
