@import "../../scss/variables.scss";

.users {
  width: 70vw;
  margin: auto;
  padding: 7rem 0;
  transition: all 1s;
  overflow: auto;

  .table__heading {
    width: 100%;
    display: grid;
    grid-template-columns: 8% 23% 23% 23% 23%;
    border-top: solid 1px $color--three;
    border-left: solid 1px $color--three;
  }

  .header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
    border-right: solid 1px $color--three;
  }
}

@media screen and (max-width: 1000px) {
  .users {
    width: 90vw;
  }
}
