@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.login {
  @include formContainer;

  .to__signup {
    @include gotoDirection;
  }

  .signup__link {
    @include link;
  }

  .error__msg {
    @include errorMsg;
  }

  .btn__container {
    margin: 1.2rem 0;
  }
}

@media screen and (max-width: 500px) {
  .login {
    width: 90vw;
    margin: auto;
  }
}
